<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing_pages/covid-19/covid-19.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='landing_pages/covid-19/covid-19.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='landing_pages/covid-19/covid-19.ico') }}">
    <title>Covid-19</title>
</head>
    {% include 'git_popup.html' %}
    <body>
        <div class="wrapper">
            <header>
                    <a class="logo" href="#">
                        <div class="img_header">
                            <img alt="covid" src="{{ url_for('static', filename='landing_pages/covid-19/images/covid_logo.png') }}">
                        </div>
                        <p>covid-19</p>
                    </a>
                    <nav>
                        <ul class="nav_links">
                            <li><a class="menu_link" href="#">Overview</a></li>
                            <li><a class="menu_link" href="#">Contagion</a></li>
                            <li><a class="menu_link" href="#">Symptoms</a></li>
                            <li><a class="menu_link" href="#">Prevention</a></li>
                            <li><a class="menu_contact_link" href="#">Contact</a></li>
                        </ul>
                    </nav>
            </header>
            <section class="main">
                <div class="section_side">
                    <div class="info_with_button">
                        <h1>COVID-19 Alert</h1>
                        <h3>Stay at Home quarantine To stop Corona virus</h3>
                        <p>There is no specific medicine to prevent or treat Coronavirus disease (COVID-19). People may need supportive care to.</p>
                        <a class="button_red" href="#">Let Us Help</a>
                    </div>
                </div>
                <div class="section_side">
                    <div class="img_main">
                        <img alt="img_main" src="{{ url_for('static', filename='landing_pages/covid-19/images/img_main.png') }}">
                    </div>
                </div>
            </section>
            <section class="about_main">
                <div class="section_left_side">
                    <div class="img_about_main">
                        <img alt="img_about_main" src="{{ url_for('static', filename='landing_pages/covid-19/images/bubble_1.png') }}">
                    </div>
                </div>
                <div class="section_right_side">
                    <div class="info_with_button">
                        <h2>What is Covid-19</h2>
                        <h3>Coronavirus</h3>
                        <p>Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type has caused a recent outbreak of respiratory illness now called COVID-19.Lauren Sauer, M.S., the director of operations with the Johns Hopkins Office of Critical Event Preparedness and Response</p>
                        <a class="button_pink" href="#">Learn More</a>
                    </div>
                </div>
            </section>
            <section class="contagion">
                <div class="section_header">
                    <h2>Covid-19</h2>
                    <h3>Contagion</h3>
                    <p>Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type</p>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="card_img">
                            <img alt="card_img_1" src="{{ url_for('static', filename='landing_pages/covid-19/images/card_img_1.png') }}">
                        </div>
                        <div class="card_text">
                            <h2>Air Transmission</h2>
                            <p>Objectively evolve tactical expertise before extensible initiatives. Efficiently simplify</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_img">
                            <img alt="card_img_2" src="{{ url_for('static', filename='landing_pages/covid-19/images/card_img_2.png') }}">
                        </div>
                        <div class="card_text">
                            <h2>Human Contacts</h2>
                            <p>Washing your hands is one of thesimplest ways you can protect</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_img">
                            <img alt="card_img_3" src="{{ url_for('static', filename='landing_pages/covid-19/images/card_img_3.png') }}">
                        </div>
                        <h2>Containted Objects</h2>
                        <p>Use the tissue while sneezing,In this way, you can protect your droplets.</p>
                    </div>
                </div>

            </section>
            <section class="symptomps">
                <div class="section_header">
                    <h2>Covid-19</h2>
                    <h3>Symptomps</h3>
                    <p>Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type</p>
                </div>
                <div class="img_symptomps">
                    <img alt="img_main" src="{{ url_for('static', filename='landing_pages/covid-19/images/symptons_girl.png') }}">
                </div>
            </section>
            <section class="what_should_we_do">
                <div class="section_header">
                    <h2>Covid-19</h2>
                    <h3>What Should We Do</h3>
                    <p>Corona viruses are a type of virus. There are many different kinds, and some cause disease. A newly identified type</p>
                </div>
                <div class="info_with_points_block">
                    <div class="section_left_side">
                        <div class="info_with_points">
                            <div class="point_block">
                                <div class="point_wrapper">
                                    <h3>01</h3>
                                </div>
                            </div>
                            <div class="text_block">
                                <h3>Wear Masks</h3>
                                <p>Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively </p>
                            </div>
                        </div>
                    </div>
                    <div class="section_right_side">
                        <div class="point_img">
                            <img alt="point_block_img_1.png" src="{{ url_for('static', filename='landing_pages/covid-19/images/point_block_img_1.png') }}">
                        </div>
                    </div>
                </div>
                <div class="info_with_points_block">
                    <div class="section_left_side">
                        <div class="point_img">
                            <img alt="point_block_img_1.png" src="{{ url_for('static', filename='landing_pages/covid-19/images/point_block_img_2.png') }}">
                        </div>
                    </div>
                    <div class="section_right_side">
                        <div class="point_block">
                            <div class="point_wrapper">
                                <h3>02</h3>
                            </div>
                        </div>
                        <div class="text_block">
                            <h3>Wash Your Hands</h3>
                            <p>Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively </p>
                        </div>
                    </div>
                </div>
                <div class="info_with_points_block">
                    <div class="section_left_side">
                        <div class="info_with_points">
                            <div class="point_block">
                                <div class="point_wrapper">
                                    <h3>03</h3>
                                </div>
                            </div>
                            <div class="text_block">
                                <h3>Use nose -  rag</h3>
                                <p>Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively </p>
                            </div>
                        </div>
                    </div>
                    <div class="section_right_side">
                        <div class="point_img">
                            <img alt="point_block_img_1.png" src="{{ url_for('static', filename='landing_pages/covid-19/images/point_block_img_3.png') }}">
                        </div>
                    </div>
                </div>
                <div class="info_with_points_block">
                    <div class="section_left_side">
                        <div class="point_img">
                            <img alt="point_block_img_1.png" src="{{ url_for('static', filename='landing_pages/covid-19/images/point_block_img_4.png') }}">
                        </div>
                    </div>
                    <div class="section_right_side">
                        <div class="point_block">
                            <div class="point_wrapper">
                                <h3>04</h3>
                            </div>
                        </div>
                        <div class="text_block">
                            <h3>Avoid contacts</h3>
                            <p>Continually seize impactful vortals rather than future-proof supply chains. Uniquely exploit emerging niches via fully tested meta-services. Competently pursue standards compliant leadership skills vis-a-vis pandemic "outside the box" thinking. Objectively </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="map_info">
                <div class="section_left_side">

                </div>
                <div class="section_right_side">
                    <div class="report_card">
                        <div class="header_report">
                            <h2>Live Reports</h2>
                            <div class="report_switch">
                                <svg width="10" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.22201 16.8869L1.87891 9.54379L9.22201 2.20068" stroke="#A2A5B2" stroke-width="2.85" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <svg width="3" height="21" viewBox="0 0 3 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="1.45484" y1="1.6692" x2="1.45484" y2="19.0208" stroke="#DEE1ED" stroke-width="2.23" stroke-linecap="round"/>
                                </svg>
                                <svg width="10" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.18485 2.06794L9.52795 9.41104L2.18485 16.7541" stroke="#F44A45" stroke-width="2.85" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                        <div id="north_america_card" class="map_info_block">
                            <h2>North america</h2>
                            <h2>100,392</h2>
                        </div>
                        <div id="south_america_card" class="map_info_block">
                            <h2>South america</h2>
                            <h2>100,392</h2>
                        </div>
                        <div id="eurasia_card" class="map_info_block">
                            <h2>Eurasia</h2>
                            <h2>100,392</h2>
                        </div>
                        <div id="africa_card" class="map_info_block">
                            <h2>Africa</h2>
                            <h2>100,392</h2>
                        </div>
                        <div id="australia_card" class="map_info_block">
                            <h2>Australia</h2>
                            <h2>100,392</h2>
                        </div>
                    </div>
                </div>
            </section>
            <object id="north_america_obj" type="image/svg+xml" data="{{ url_for('static', filename='landing_pages/covid-19/images/north_america.svg') }}"></object>
            <object id="south_america_obj" type="image/svg+xml" data="{{ url_for('static', filename='landing_pages/covid-19/images/south_america.svg') }}"></object>
            <object id="eurasia_obj" type="image/svg+xml" data="{{ url_for('static', filename='landing_pages/covid-19/images/eurasia.svg') }}"></object>
            <object id="africa_obj" type="image/svg+xml" data="{{ url_for('static', filename='landing_pages/covid-19/images/africa.svg') }}"></object>
            <object id="non_select_parts_world_obj" type="image/svg+xml" data="{{ url_for('static', filename='landing_pages/covid-19/images/non_select_parts_world.svg') }}"></object>
            <object id="australia_obj" type="image/svg+xml" data="{{ url_for('static', filename='landing_pages/covid-19/images/australia.svg') }}"></object>
            <section class="form_section">
                <div class="form_header">
                    <h3>Have Question in mind?</h3>
                    <h3>Let us help you</h3>
                </div>
                <form id="input_email">
                    <div class="input-container">
                        <input type="email" id="email" name="email" placeholder="example@mail.com" required>
                        <button id="send-email-btn" type="submit">Send</button>
                    </div>
                    <span id="emailValidationMessage" style="display: none; color: red;">Incorrect email</span>
                </form>
                <div class="popup" id="myPopup">
                    <div class="popup_wraper">
                        <h2>Success!</h2>
                        <button id="close_popup">Close</button>
                    </div>
                </div>

            </section>
            <footer>
                <div class="nav_footer">
                    <a class="logo" href="#">
                        <div class="img_header">
                            <img alt="covid" src="{{ url_for('static', filename='landing_pages/covid-19/images/covid_logo.png') }}">
                        </div>
                        <p>covid-19</p>
                    </a>
                    <nav>
                        <ul class="nav_links">
                            <li><a class="menu_link" href="#">Overview</a></li>
                            <li><a class="menu_link" href="#">Contagion</a></li>
                            <li><a class="menu_link" href="#">Symptoms</a></li>
                            <li><a class="menu_link" href="#">Prevention</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="rights_footer">
                    2020 © All rights reserved by pixelspark.co
                </div>
            </footer>
        <div class="container_virus">
            <img class="overlay_virus_img_1" alt="virus" src="{{ url_for('static', filename='landing_pages/covid-19/images/virus_1.png') }}">
        </div>
        <div class="container_virus">
            <img class="overlay_virus_img_2" alt="virus" src="{{ url_for('static', filename='landing_pages/covid-19/images/virus_1.png') }}">
        </div>
        </div>
    </body>
</html>