version: '3'

services:
  app:
    build: ../irbis-eh_app/
    ports:
      - "5000:5000"
    volumes:
      - .:/irbis-eh_app
    restart: always

#  webserver:
#    image: nginx:latest
#    ports:
##      - "80:80"
#      - "443:443"
#    restart: always
#    volumes:
#      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf :ro
#      - ./cert/:/etc/nginx/ssl/ :ro

#      - ./certbot/www:/var/www/certbot/:ro
#  certbot:
#    image: certbot/certbot:latest
#    volumes:
#      - ./certbot/www/:/var/www/certbot/:rw
#      - ./certbot/conf/:/etc/letsencrypt/:rw