version: '3'

services:
  lending_page_covid:
    build: ../covid_page/
    ports:
      - "5000:5000"
    volumes:
      - .:/covid_page
    restart: always

  nginx:
    image: nginx:1.21.3-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - lending_page_covid
    restart: always