version: '3'

services:
  app:
    build: ../irbis-eh_app/
    ports:
      - "5000:5000"
    volumes:
      - .:/irbis-eh_app
    restart: always

  webserver:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf :ro
      - ./ssl/:/etc/nginx/ssl/ :ro